body {
  font-family: "Manjari", sans-serif;
}

#face {
  display: block;
  // animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

#navbar {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  a {
    color: #fca103;
    margin-left: 20px;
  }
}

header {
  text-align: center;
  #intro {
    line-height: 35px;
    font-size: 25px;
    margin-top: 50px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

#start_button {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
  height: 80px;
  background-color: #fca103;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding-top: 35px;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953),
      linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33),
      linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
}

.flip-card {
  margin: 0 auto;
  background-color: transparent;
  width: 1200px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: none;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 600px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  #browser {
    #browser_header {
      #brower_icon_container {
        height: 20px;
        width: 100%;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
        text-align: left;
        .icons {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-left: 5px;
          border-radius: 100%;
        }
      }
      #address_input {
        width: 98.5%;
        margin-bottom: 3px;
      }
    }
    #browser_content {
      height: 600px;
      width: 100%;
      #browser_page {
        width: 98.5%;
        height: 530px;
      }
    }
  }
}

/* Style the back side */
.flip-card-back {
  padding: 20px;
  background-color: white;
  transform: rotateY(180deg);

  .card {
    width: 100%;
    padding-top: 13px;
    height: 50px;
    background: whitesmoke;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;
      margin-left: 8px;
    }
  }
}
