body {
  font-family: "Manjari", sans-serif;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

#navbar {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  a {
    color: #fca103;
    margin-left: 20px;
  }
}

header {
  text-align: center;
  #intro {
    line-height: 35px;
    font-size: 25px;
    margin-top: 50px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

#start_button {
  margin-top: 50px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}

#stage {
  border: none;
}
.flip-card {
  margin: 0 auto;
  background-color: transparent;
  width: 1200px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: none;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 600px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border: none;
  #browser {
    transition: width 3.5s;
    width: 100%;
    margin: 0 auto;
    #browser_header {
      #brower_icon_container {
        height: 20px;
        width: 100%;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
        text-align: left;
        .icons {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-left: 5px;
          border-radius: 100%;
        }
      }
      #address_input {
        width: 98.5%;
        margin-bottom: 3px;
      }
    }
    #browser_content {
      border: none;
      height: 600px;
      width: 100%;
    }
  }
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  background: white;
  #back-container {
    width: 100%;
    height: 100%;
    #card-container {
      width: 100%;
      margin: 0 auto;
      .card {
        border: 8px double grey;
        width: 100%;
        .header {
          font-size: 28px;
        }
        .description {
          font-size: 15px;
        }
        #tech-stack {
          margin-top: 5px;
          font-size: 16px;
          font-weight: bold;
        }
        #skill-button {
          color: black;
          background: white;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
}
